.env
.env.local
.env.*

venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Database files
*.db
*.sqlite
*.sqlite3
btc_adb.db


# Credentials and secrets
**/secrets/
**/credentials/
*.pem
*.key

# Project specific
data/
logs/
temp/